| // Background
| @base03: ##{base03};
| @base02: ##{base02};
| 
| // Content
| @base01: ##{base01};
| @base00: ##{base00};
| @base0: ##{base0};
| @base1: ##{base1};
| 
| // Foreground
| @base2: ##{base2};
| @base3: ##{base3};
| 
| // Accent
| @yellow: ##{yellow};
| @orange: ##{orange};
| @red: ##{red};;
| @magenta: ##{magenta};;
| @violet: ##{violet};;
| @blue: ##{blue};
| @cyan: ##{cyan};
| @green: ##{green};